
body {
  font-family: Arial, sans-serif;
  background-color: beige;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 자기소개 전체 박스 */
.Self-introduction{
    border : 1px solid white;
    padding : 16px;
    border-radius : 8px;
    width : 300px;
    background-color: white;
}

/* 역할 */
.role {
  color: blue;
  font-weight: bold;
}
/* 전체 박스 */
.introduction{
  border : 1px solid white;
  margin-top : 20px;
  padding: 16px;
  
  width: 300px;
  border-radius : 12px;
  background-color: white;
}

git checkout -b choiyuldo/week1